[Desktop Action baobab]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=baobab --file-forwarding org.gnome.baobab @@u %U @@
Icon=mate-disk-usage-analyzer
Name[en_US]=Disk Usage
Name=Disk Usage

[Desktop Entry]
Actions=baobab;
Icon=mate-disk-usage-analyzer
MimeType=all/allfiles;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
